# Monorepo Root .gitignore

# Environments & Virtual Envs
.env
.env.*
!.env.example
venv/
.venv/
env/
ENV/

# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
*.log

# Node / Frontend
node_modules/
dist/
.dist/
build/
*.local

# IDEs & System
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?